## Explore Exercise: NLP Unit
### Corey Solitaire
`11.17.2020`

#### Imports:

In [6]:
import re
import unicodedata
import pandas as pd
import nltk

import prepare
import acquire

#### Sanity Check prepare and acquire files

In [2]:
# Test Acquire
urls = []
df = acquire.get_blog_articles(urls, cached=True)
df.head()

,title,content
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...

In [3]:
# Test Prepare
df = prepare.prep_article_data(df, 'content')
df

,title,content,stemmed,lemmatized,clean
0,Codeup’s Data Science Career Accelerator is Here!,The rumors are true! The time has arrived. Cod...,he rumor are true he time ha arriv odeup ha of...,he rumor are true he time ha arrived odeup ha ...,rumor true time arrived odeup officially opene...
1,Data Science Myths,By Dimitri Antoniou and Maggie Giust\nData Sci...,y imitri ntoniou and aggi iust ata cienc ig at...,y imitri ntoniou and aggie iust ata cience ig ...,imitri ntoniou aggie iust ata cience ig ata ac...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch...",y imitri ntoniou week ago odeup launch our imm...,y imitri ntoniou week ago odeup launched our i...,imitri ntoniou week ago odeup launched immersi...
3,10 Tips to Crush It at the SA Tech Job Fair,SA Tech Job Fair\nThe third bi-annual San Anto...,ech ob air he third biannual an ntonio ech ob ...,ech ob air he third biannual an ntonio ech ob ...,ech ob air third biannual ntonio ech ob air ar...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...,ompetitor ootcamp re lose s the odel in anger ...,ompetitor ootcamps re losing s the odel in ang...,ompetitor ootcamps losing odel anger programmi...

#### Load text dataset:

In [ ]:
ADDITIONAL_STOPWORDS = ['r', 'u', '2', 'ltgt']

def clean(text):
    'A simple function to cleanup text data'
    wnl = nltk.stem.WordNetLemmatizer()
    stopwords = nltk.corpus.stopwords.words('english') + ADDITIONAL_STOPWORDS
    text = (unicodedata.normalize('NFKD', text)
             .encode('ascii', 'ignore')
             .decode('utf-8', 'ignore')
             .lower())
    words = re.sub(r'[^\w\s]', '', text).split()
    return [wnl.lemmatize(word) for word in words if word not in stopwords]

In [8]:
# Special Formatting to read in this data frame
df = pd.read_csv('spam.csv', encoding='latin-1', usecols=[0,1])
df.columns = ['label', 'text']
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Exercises:

### 1. Spam Data
        -a. Load the spam data set.
        -b. Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare 
            with the ham bigrams?
        -c. Is there any overlap in the bigrams for the spam data and the ham data?
        -d. Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

#### 2. Explore the blog articles using the techniques discussed in the exploration lesson.

#### 3. Explore the news articles using the techniques discussed in the exploration lesson. Use the category variable when exploring.